.App {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 72px;
  color: var(--dark-cyan);
}

h1::selection {
  color: white;
  background-color: var(--dark-cyan);
}

.monster-card-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 85vw;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}



